@use "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');





body {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: antiquewhite;
    position: relative;
    background-color: #4b4b4b;
    overflow: hidden;

    canvas {
        display: block;
    }
    
    .text{
        width: 100%;
        position: absolute;
        padding-top: 25vh;
        line-height: 50px;
        box-sizing: border-box;
        text-align: center;
        color: aliceblue;
        cursor: pointer;
        font-family: 'Noto Serif JP', serif;
        border-bottom: none;
        
        
        a{
            color: white;
        
        }
        
        
         
    }





















    #loader-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;

        .loader {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            border: 4px solid #Fff;
            animation: loader 2s infinite ease;


            .load {
                vertical-align: top;
                display: inline-block;
                width: 100%;
                background-color: #fff;
                animation: load 2s infinite ease-in;
            }
        }

        @keyframes loader {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(180deg);
            }

            50% {
                transform: rotate(180deg);
            }

            75% {
                transform: rotate(360deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes load {
            0% {
                height: 0%;
            }

            25% {
                height: 0%;
            }

            50% {
                height: 100%;
            }

            75% {
                height: 100%;
            }

            100% {
                height: 0%;
            }
        }

    }
}
